@import "normalize";

/*
* COLORS
*/

$lGray: #ccc;
$dGray: #424242;
$redOrange: #e6311c;

/* 
* ADDITIONAL RESET
*/

a {
    text-decoration: none;
}

/*
* MAIN STYLES
*/

body {
    background: #f9f9f9;
    font: 16px/1.65em "Lato", sans-serif;
    font-weight: normal;
    color: $dGray;
}

// navigation

#main-nav {
    position: fixed;
    top: 50%;
    left: 10px;
    margin-top: -60px;
    ul {
        list-style: none;
        height: 120px;
        //reset styles
        margin: 0;
        padding: 0;

        li {
            width: 16px;
            height: 16px;
            position: relative;
            margin-bottom: 10px;
            .dot-item {
              position: relative;
              margin: 0;
              border-radius: 50%;
              background: $lGray;
              width: 4px;
              height: 4px;
              padding: 3px;
              -webkit-transition: width 0.3s, height 0.3s, margin 0.3s;
              -moz-transition: width 0.3s, height 0.3s, margin 0.3s;
              -ms-transition: width 0.3s, height 0.3s, margin 0.3s;
              transition: width 0.3s, height 0.3s, margin 0.3s;
              cursor: pointer;

              // typo
              text-align: center;

                a {
                    display: none;
                }

                &:hover {
                    width: 10px;
                    height: 10px;
                    padding: 3px;
                    margin: -3px;
                }

                &:hover > a {
                    line-height: 10px;
                    font-size: 9px;
                    color: #fff;
                    display: block;

                }  
            }
            // active link
            .dot-item.active {
                @extend .dot-item;
                background: $redOrange;
            }
        }
    }
}

// clearfix
.clearfix {
    clear: both;
}

// tabs with content
.tab-wrap {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    .tab-content {
        display: inline-block;
        max-width: 30em;
        text-align: justify;
        h1 {
            color: $redOrange;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 3em;
        }
    }
}


