@import "normalize";

/*
* COLORS
*/

$dGray: #424242;
$redOrange: #e6311c;

/*
* MAIN STYLES
*/

body {
    background: #f9f9f9;
    font: 16px/1.65em "Lato", sans-serif;
    font-weight: normal;
    color: $dGray;
}

.tab-wrap {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    .tab-content {
        display: inline-block;
        max-width: 30em;
        text-align: justify;
        h1 {
            color: $redOrange;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 3em;
        }
    }
}


