@import "normalize";

/*
* COLORS
*/

$lGray: #ccc;
$dGray: #424242;
$redOrange: #e6311c;

/* 
* ADDITIONAL RESET
*/

a {
    text-decoration: none;
}

/*
* MAIN STYLES
*/

body {
    background: #f9f9f9;
    font: 16px/1.65em "Lato", sans-serif;
    font-weight: normal;
    color: $dGray;
}

// navigation

#main-nav {
    position: fixed;
    top: 50%;
    left: 10px;
    margin-top: -60px;
    ul {
        list-style: none;
        height: 120px;
        //reset styles
        margin: 0;
        padding: 0;

        li {
            width: 16px;
            height: 16px;
            position: relative;
            margin-bottom: 10px;
            .dot-item {
              position: relative;
              margin: 0;
              border-radius: 50%;
              background: $lGray;
              width: 4px;
              height: 4px;
              padding: 3px;
              -webkit-transition: width 0.3s, height 0.3s, margin 0.3s;
              -moz-transition: width 0.3s, height 0.3s, margin 0.3s;
              -ms-transition: width 0.3s, height 0.3s, margin 0.3s;
              transition: width 0.3s, height 0.3s, margin 0.3s;
              cursor: pointer;

              // typo
              text-align: center;

                a {
                    display: none;
                }

                &:hover {
                    width: 10px;
                    height: 10px;
                    padding: 3px;
                    margin: -3px;
                }

                &:hover > a {
                    line-height: 10px;
                    font-size: 9px;
                    color: #fff;
                    display: block;

                }  
            }
            // active link
            .dot-item.active {
                @extend .dot-item;
                background: $redOrange;
            }
        }
    }
}

// clearfix
.clearfix {
    clear: both;
}

// tabs with content
.tab-wrap {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    .tab-content {
        display: inline-block;
        max-width: 30em;
        text-align: justify;
        h1 {
            color: $redOrange;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 3em;
        }
    }
}


/* 
* CHARTS
*/

.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
.angular {
  margin-top: 100px;
}
.angular .chart {
  margin-top: 0;
}
input {
  display: block;
  margin: auto;
  margin-bottom: 3em;
}
.btn {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 10px 20px;
  background: #2c3e50;
  color: #ecf0f1;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.8em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  background: #e67e22;
  color: #2c3e50;
}
@media only screen and (max-width: 600px) {
  li {
    font-size: 14.4px;
  }
}
@media only screen and (max-width: 430px) {
  body {
    padding-top: 0;
  }
  ul {
    height: auto;
    position: static;
  }
  li {
    display: block;
    width: 100%;
  }
  li a {
    white-space: normal;
  }
  a.active:after {
    display: none;
  }
}